git clone https://github.com/pjreddie/darknet.git
cd darknet
make
mkdir -p obj
mkdir -p obj
gcc -I/usr/local/cuda/include/  -Wall -Wfatal-errors  -Ofast....
gcc -I/usr/local/cuda/include/  -Wall -Wfatal-errors  -Ofast....
gcc -I/usr/local/cuda/include/  -Wall -Wfatal-errors  -Ofast....
.....
gcc -I/usr/local/cuda/include/  -Wall -Wfatal-errors  -Ofast -lm....
./darknet
usage: ./darknet <function>
GPU=1
./darknet -i 1 imagenet test cfg/alexnet.cfg alexnet.weights
./darknet -nogpu imagenet test cfg/alexnet.cfg alexnet.weights
OPENCV=1
./darknet imtest data/eagle.jpg
